<div class="wrapper">
    <main>
        <div class="page_front-wrap">
            <div class="container">
                <div class="page_front-row">
                    <div class="page_front-col">
                        <a [routerLink]="['/albums', 'rock']" class="page_front-bl rock">
                            <span class="page_front-bl-ttl">Rock</span>
                        </a>
                    </div>
                    <div class="page_front-col">
                        <a [routerLink]="['/albums', 'electro']" class="page_front-bl electro">
                            <span class="page_front-bl-ttl">Electro</span>
                        </a>
                    </div>
                    <div class="page_front-col">
                        <a [routerLink]="['/albums', 'hip-hop']" class="page_front-bl hip">
                            <span class="page_front-bl-ttl">Hip-hop</span>
                        </a>
                    </div>
                    <div class="page_front-col">
                        <a [routerLink]="['/albums', 'pop']" class="page_front-bl pop">
                            <span class="page_front-bl-ttl">Pop</span>
                        </a>
                    </div>
                    <div class="page_front-col">
                        <a [routerLink]="['/albums', 'rnb']" class="page_front-bl rnb">
                            <span class="page_front-bl-ttl">R&B</span>
                        </a>
                    </div>
                    <div class="page_front-col">
                        <a [routerLink]="['/albums', 'indie']" class="page_front-bl indie">
                            <span class="page_front-bl-ttl">Indie</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
